.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.sidebar {
  width: 15%;
  padding-top: .5em;
  background: gray ;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: clip;
}

.channel {
  display: flex;
  width: 85%;
}

.window {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.sidebar-list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.sidebar-list .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding: 0px;
}

.sidebar-list .row:hover {
  cursor: pointer;
}

.row .channel-icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row .channel-icon svg {
  min-height: 80%;
  min-width: 100%;
  object-fit: contain;
}

.row .channel-name {
  flex: 70%;
  display: grid;
  align-items: center;
}

.chat-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  word-wrap: break-word;
  flex-grow: 1;
}

.chat-box {
  display: flex;
  height: 5%;
  width: 100%;
}

.chat-history::-webkit-scrollbar {
  width: 1em;
}

.chat-history::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.chat-history::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.input {
  display: flex;
  align-content: stretch;
  margin: 0.5em;
}

.input-box {
  overflow: hidden;
  resize: none;
  word-wrap: break-word;
  border-radius: 100vw;
  flex-grow: 1;
  padding-left: 1em;
  padding-right: 1em;
  background: whitesmoke;
  padding-top: 1em;
}

.input-send {
  width: auto;
}

.send-button {
  height: 100%;
  background: whitesmoke;
  margin-left: .5em;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}

.send-icon {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.send-icon svg {
  width: 60%;
  height: auto;
}

.message {
  padding: .5em;
}

.users {
  padding-top: .5em;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: gray;
  overflow-y: scroll;
  overflow-x: clip;
  flex-grow: 1;
}

.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.info-component {
  display: flex;
  flex-shrink: 0;
  height: 5%;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  border-radius: 8px;
  transition: .4s;
}

.info-pic-component {
  height: 100%;
  background: whitesmoke;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}

.info-name-component {
  margin-left: .5em;
  display: flex;
  align-items: center;
  text-overflow: ellipsis; /*doesnt work inside flexbox ¯\_(ツ)_/¯*/
  white-space: nowrap;
  overflow: hidden;
}

.info-component:hover {
  background: #6E7271;
}