.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  height: 3em;
  display: flex;
  flex-shrink: 0;
  background: #6E7271;
}

.body {
  height: 93%;
  display: flex;
}

.sidebar {
  padding-top: .5em;
  width: 15em;
  display: flex;
  flex-direction: column;
  background-color: gray;
  overflow-y: scroll;
  overflow-x: clip;
  flex-grow: 0;
  flex-shrink: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  word-wrap: break-word;
  flex-grow: 1;
}


.chat-history::-webkit-scrollbar {
  width: 1em;
}

.chat-history::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.chat-history::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.input {
  display: flex;
  align-content: stretch;
  flex-shrink: 0;
  margin: 0.5em;
}

.input-box {
  overflow: hidden;
  resize: none;
  word-wrap: break-word;
  border-radius: 100vw;
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 1em;
  padding-right: 1em;
  background: whitesmoke;
  padding-top: 1em;
}

.input-send {
  width: auto;
}

.send-button {
  height: 100%;
  background: whitesmoke;
  margin-left: .5em;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}

.send-icon {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.send-icon svg {
  width: 60%;
  height: auto;
}

.message {
  display: flex;
  flex-direction: column;
  margin: .1em .5em .1em .5em;
  padding: .5em;
  border-radius: 16px;
  transition: .4s;
}

.message:hover {
  background: whitesmoke;
}

.message-author {
  display: flex;
}


.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.info-component {
  display: flex;
  flex-shrink: 0;
  height: 5%;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  border-radius: 8px;
  transition: .4s;
}

.info-pic-component {
  height: 100%;
  background: whitesmoke;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}

.info-name-component {
  margin-left: .5em;
  display: flex;
  align-items: center;
  text-overflow: ellipsis; /*doesnt work inside flexbox ¯\_(ツ)_/¯*/
  white-space: nowrap;
  overflow: hidden;
}

.info-component:hover {
  background: #6E7271;
}

@media only screen and (max-width: 768px) {
  .sidebar, .navbar-left, .navbar-right{
    display: none;
  }
}

.navbar-left {
  width: 15em;
  flex-grow: 0;
}

.navbar-middle {
  flex-grow: 1;
}

.navbar-right {
  width: 15em;
  flex-grow: 0;
}

.author-body {
  display: flex;
  flex-direction: column;
  padding-left: .5em;
}

.author-pic {
  height: 100%;
  background: black;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}