.App {
  width: 100vw;
  height: 100vh;
  min-width: 20rem;
  overflow: hidden;
}

.navbar {
  position: relative;
  z-index: 100;
  height: 3em;
  display: flex;
  flex-shrink: 0;
  background: #6E7271;
  text-align: left;
  box-shadow: 0px 4px 6px -6px black;
}

.body {
  height: 100%;
  margin-top: -3em;
  display: flex;
  place-content: stretch;
}

.sidebar {
  padding-top: .5rem;
  width: 15rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: gray;
  overflow-y: scroll;
  overflow-x: clip;
  transition: .4s;
}

.chat {
  margin-top: 3em;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  word-wrap: break-word;
  flex-grow: 1;
}


.chat-history::-webkit-scrollbar {
  width: 1em;
}

.chat-history::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.chat-history::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.input {
  height: 3rem;
  display: flex;
  align-content: stretch;
  flex-shrink: 0;
  padding: .5em;
}

.input-box {
  overflow: hidden;
  resize: none;
  word-wrap: break-word;
  border-radius: 100vw;
  flex-shrink: 0;
  flex-grow: 1;
  padding-left: 1em;
  padding-right: 1em;
  background: whitesmoke;
  padding-top: 1em;
}

.input-send {
  width: auto;
}

.send-button {
  height: 3rem;
  width: 3rem;
  background: whitesmoke;
  margin-left: .5em;
  border-radius: 50%;
  display: flex;
}

.send-icon {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

svg {
  width: 60%;
  height: auto;
}

.message {
  display: flex;
  flex-direction: column;
  margin: .1em .5em .1em .5em;
  padding: .5em;
  border-radius: 16px;
  transition: .4s;
}

.message:hover {
  background: whitesmoke;
}

.message-author {
  display: flex;
}


.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar::-webkit-scrollbar-track {
  margin-block: .4em;
  background: whitesmoke;
  border-radius: 100vw;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #6E7271;
  border-radius: 100vw;
}

.info-component {
  display: flex;
  flex-shrink: 0;
  height: 2rem;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  border-radius: 8px;
  transition: .4s;
}

.info-pic-component {
  pointer-events: none;
  height: 2rem;
  width: 2rem;
  background: whitesmoke;
  border-radius: 50%;
  display: flex;
}

.info-name-component {
  pointer-events: none;
  margin-left: .5em;
  display: flex;
  align-items: center;
  text-overflow: ellipsis; /*doesnt work inside flexbox ¯\_(ツ)_/¯*/
  white-space: nowrap;
  overflow: hidden;
}

.info-component:hover {
  background: #6E7271;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .sidebar, .navbar-left, .navbar-right{
    display: flex;
  }
  .body, .navbar {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.navbar-left, .navbar-right {
  width: 15rem;
  flex-grow: 0;
  display: grid;
  align-items: center;
  margin-left: 1rem;
  margin-right: -1rem;
  font-size: large;
}

.navbar-middle {
  flex-grow: 1;
  flex-shrink: 0;
}

.author-body {
  display: flex;
  flex-direction: column;
  padding-left: .5em;
}

.author-pic {
  height: 3rem;
  width: 3rem;
  background: black;
  border-radius: 50%;
  display: flex;
}

.send-icon:hover {
  cursor: pointer;
}

.navbar-middle {
  display: flex;
  justify-content: space-between;
}

.channels-button, .users-button {
  height: 3rem;
  width: 3rem;
  background: none;
  border: none;
  margin: none;
  padding: 0;
  display: grid;
  place-items: center;
}

.channels-button, .users-button:hover {
  cursor: pointer;
}